# Ignore configuration files that may contain sensitive information.

# Allow settings.php for installed version.

# sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
# Ignore translations
sites/*/translations